label {
	display: block;
	margin-bottom: 2rem;
	text-align: inherit;
}

input,
textarea,
select {
	width: 100%;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: inherit;
}

button, a.action {
	box-sizing: border-box;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 2rem;
	padding: 2rem 4rem;
	background: #e6e6e6;
	color: #000;
	text-align: center;
	cursor: pointer;
}

legend {
	text-align: center;
	padding: 2rem;
	background: #eee;
	margin-bottom: 2rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: .25rem;
}


label.option {
	width: 100%;
	cursor: pointer;
	font-size: 2rem;
	line-height: 1.5em;
}

	label.option input[type=checkbox] {
		display: none;
	}

	label.option span {
		display: inline-block;
		background: transparent;
		border: none;
		width: auto;
	}

	label.option span::before {
		display: block;
		float: left;
		width: .8em;
		height: .8em;
		line-height: .8em;
		margin: -.15em 2rem 0 0;
		content: "";
		background-color: #7D9CBF;
		text-align: center;
		font-family: "icon";
		font-size: 3.2rem;
		color: transparent;
		text-indent: -.1em;
		padding: .20em;
	}

	label.option input[type=checkbox]:checked + span::before {
		color: #fff;
	}

form {
	text-align: center;
}

form.entity {
	text-align: left;
}

fieldset.range.group {
	margin-bottom: 0;
}

fieldset.range.group > legend {
	margin-left: 0;
}

fieldset.range.group > label {
	width: calc(50% - 4rem + (4rem / 4));
}

fieldset.range.group > label:nth-child(2n+2) {
	margin-left: 0;
	clear: left;
}
